/**
 *  novelWriter – GUI Editor StyleSheet
 * =====================================
 *  Stylesheet for the web editor
 *
 *  File History:
 *  Created: 2017-10-03 [0.4.0]
 */

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #3d535e;
    padding: 0;
    margin: 0;
    min-width: 1240px;
    font-size: 15px;
}

#wrapper {
    width: 1160px;
    /*border: 1px solid #ffffff;*/
    margin: 40px auto;
    display: table;
}

#left {
    display: table-cell;
    /*border: 1px solid #ffff00;*/
    width: 840px;
}

#right {
    display: table-cell;
    /*border: 1px solid #ffff00;*/
    width: 250px;
}

#left h1 {
    margin: 0 0 20px 0;
    font-size: 2em;
    color: rgba(255,255,255,0.8);
}

#right h1 {
    margin: 0 0 20px 0;
    font-size: 2em;
    color: rgba(255,255,200,0.8);
}

article {
    background-color: rgba(255,255,255,0.8);
    min-height: 200px;
    width: 800px;
    vertical-align: top;
    padding: 20px;
}

aside {
    background-color: rgba(255,255,200,0.8);
    min-height: 200px;
    width: 250px;
    vertical-align: top;
    padding: 20px;
}

p {
    /*border: 1px dashed #999999;*/
    margin: 8px 0px;
    text-align: justify;
    word-wrap: normal;
}

p+p {
    text-indent: 2.5em;
}
