/**
 *  novelWriter – GUI Main StyleSheet
 * ===================================
 *  Stylesheet for the main window
 *
 *  File History:
 *  Created: 2017-10-03 [0.4.0]
 */

/**
 *  Main Layout Items
 */

/* Outer Vertical Box */

#boxOuter {
    background-color: #3d535e;
}

/* Top Horisontal Box (TopBar) */

#boxTop {
    background-color: #293840;
}

/* Main ToolBar */

#tbMain {
    background-color: #293840;
}

/* Pane for TreeView and Main Content */

#panedOuter {
    background-color: #354852;
}

#panedOuter > separator {
    border-color: #354852;
}

/**
 * Left Side Tree
 */

/* TreeView Vertical Box */

#boxLeft {}

/* The Tree */

#treeLeft.view {
    background-color: #354852;
    color: #ffffff;
}

#treeLeft.view:hover {
    background-color: rgba(255,255,255,0.1);
}

#treeLeft.view:active {
    background-color: rgba(255,255,255,0.2);
}

/* TreeView toolbar */

#tbLeft {
    background-color: #354852;
}

/**
 * Main Content
 */

/* Notebook Holding the Main Content */

#nbContent {}

/**
 * Notebook: Book Page
 */

/* Outer Scroll Window */

#scrollBook, #scrollChars, #scrollPlots {
    background-color: #3d535e;
}

/* Book Alignment */

#alignBook, #alignChars, #alignPlots {}

/* Main Vertical Box */

#boxBook, #boxChars, #boxPlots {}

#lblBook, #lblChars, #lblPlots {
    color: rgba(255,255,255,0.4);
    font-size: 60px;
    font-weight: bold;
}

#treeChars.view,
#treePlots.view {
    background-color: #354852;
    color: #ffffff;
}

#treeChars.view:hover,
#treePlots.view:hover {
    background-color: rgba(255,255,255,0.1);
}

#treeChars.view > header > button,
#treePlots.view > header > button {
    color: rgba(255,255,255,0.8);
    border-width: 0px;
    background-image: none;
    background-color: #293840;
    font-weight: bold;
}

#fmeBookTitle,
#fmeBookAuthor {
    color: rgba(255,255,255,0.8);
}

#entryBookTitle,
#entryBookAuthor {
    border: none;
    border-radius: 0px;
    background-image: none;
    background-color: #354852;
    color: rgba(255,255,255,0.8);
    font-size: 22px;
    font-weight: 400;
}

/**
 * Notebook: Editor Tab
 */

/* Pane Between Editor and Timeline */

#panedContent {
    background-color: #3d535e;
}

#panedContent > separator {
    border-color: #354852;
}

/* Pane Between Document and Details/Notes */

#panedEditor {
    background-color: transparent;
}

#panedEditor > separator {
    border-color: #3d535e;
}

/* Document Editor */

#boxDocOuter {
    background-color: transparent;
    /*background-color: #3d0000;*/
}

#lblDocTitle {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255,255,255,0.8);
}

#tbDocEdit {
    background-color: rgba(255,255,255,0.5);
    /*background-color: #7ca9bf;*/
}

#textViewDoc {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
}

/* Pane Between Details and Notes */

#panedMeta > separator {
    border-color: #3d535e;
}

/* Document Details */

#lblDetailsTitle {
    font-size: 30px;
    font-weight: bold;
    color: rgba(200,240,200,0.8);
}

/* Document Notes */

#boxNoteOuter {
    background-color: transparent;
}

#lblNoteTitle {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255,255,200,0.8);
}

#tbNoteEdit {
    background-color: rgba(255,255,200,0.5);
}

#textViewNote {
    background-color: rgba(255,255,200,0.8);
    padding: 10px;
}
