/**
 *  novelWriter – GUI Main StyleSheet
 * ===================================
 *  Stylesheet for the main window
 *
 *  File History:
 *  Created: 2017-10-03 [0.4.0]
 */

* {
    /*background-color: #cbdde9;*/
    /*background-color: transparent;*/
}

/*winMain {*/
    /*background-image: url('/home/vkbo/Code/novelWriter/nw/themes/default/background.jpg');*/
    /*background-color: #cbdde9;*/
/*}*/

/*GtkLayout {*/
    /*background-color: #cbdde9;*/
    /*background-color: transparent;*/
/*}*/

/*GtkViewport {*/
    /*background-color: #cbdde9;*/
    /*background-color: transparent;*/
/*}*/

#winMain {
    /*background-image: url('/home/vkbo/Code/novelWriter/nw/themes/default/background.jpg');*/
    /*background-color: #5393bc;*/
}
#boxOuter {
    /*background-image: url('/home/vkbo/Code/novelWriter/nw/themes/default/background.jpg');*/
    /*background-color: #5393bc;*/
    background-color: #3d535e;
}

#boxLeft {
    
}

#boxTop {
    background-color: #293840;
}

#tbMain {
    background-color: #293840;
}

#scrlContent {
    background-color: transparent;
}

#webEditor {
    /*background-color: #5393bc;*/
    /*background-color: transparent;*/
}

#treeLeft.view {
    background-color: #354852;
    color: #ffffff;
}

#treeLeft.view:hover {
    background-color: rgba(255,255,255,0.1);
}

#panedOuter {
    background-color: #354852;
}

#panedOuter > separator {
    border-color: #354852;
}

#panedContent {
    background-color: #3d535e;
}

#panedContent > separator {
    border-color: #354852;
}


#tbLeft {
    /*background-color: #5393bc;*/
    /*background-color: transparent;*/
    background-color: #354852;
}
